* {
  background-image: none;
  font-family: 'JetBrains Mono Nerd Font';
  font-size: 18px;
}

window {
  background-color: rgba(29, 32, 33, 0.9);
}

button {
  color: #ebdbb2;
  background-color: #282828;
  outline-style: none;
  border: 2px solid #3c3836;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(80, 73, 69, 0.24);
  text-shadow: none;
  margin: 12px;
  padding: 20px 18px 18px;
  transition: all 0.18s ease-out;
}

button:focus {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #fabd2f;
  background-size: 23%;
}

button:hover#lock {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #83a598;
}

button:hover#logout {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #fabd2f;
}

button:hover#suspend {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #8ec07c;
}

button:hover#hibernate {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #b8bb26;
}

button:hover#shutdown {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #fb4934;
}

button:hover#reboot {
  color: #ebdbb2;
  background-color: #3c3836;
  border-color: #fe8019;
}

#lock {
  background-image: image(
    url('icons/lock.png')
  );
  border-top-left-radius: 28px;
}

#logout {
  background-image: image(
    url('icons/logout.png')
  );
}

#shutdown {
  background-image: image(
    url('icons/shutdown.png')
  );
}

#reboot {
  background-image: image(
    url('icons/reboot.png')
  );
  border-bottom-right-radius: 28px;
}

#suspend {
  background-image: image(
    url('icons/suspend.png')
  );
  border-top-right-radius: 28px;
}

#hibernate {
  background-image: image(
    url('icons/hibernate.png')
  );
  border-bottom-left-radius: 28px;
}
